@use 'styles' as styles;

html {
  color: styles.$text-primary;
  background-color: styles.$bg-primary;
}

table {
  margin-right: auto;
  margin-left: auto;
}

.collection {
  display: table;
}

.card {
  float: left;
  width: 45%;
  border: styles.$card-border;
  margin-left: 2.5%;
}
