/* Basic Text Styling */

$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-primary: #faf2ff;
$bg-primary: #11001c;

$link-color: #1EAED8;
$link-hover-color: #0FA0CE;

$card-border: solid black;

$input-color: #555;
$input-border: 1px solid #bbb;
$input-focus-color: #333;
$input-focus-border-color: #888;
